@using CompanyManagement.ENTITIES.Entities;
@model CompanyManagement.UI.Models.VM.ProductAddEditVM

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Urun Ekleme Sayfasi</h1>

<h4>Urun</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="@Model.Product.ProductName" class="control-label"></label>
				<input asp-for="@Model.Product.ProductName" class="form-control" />
				<span asp-validation-for="@Model.Product.ProductName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Product.Stock" class="control-label"></label>
				<input asp-for="@Model.Product.Stock" class="form-control" />
				<span asp-validation-for="@Model.Product.Stock" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@Model.Product.Price" class="control-label"></label>
				<input asp-for="@Model.Product.Price" class="form-control" />
				<span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="@Model.Product.FirmID" class="control-label"></label>

				<select asp-for="@Model.Product.FirmID" class="form-control">
					<option>Lutfen Sesiniz</option>
					@foreach (Firm item in Model.Firms)
					{
						<option value="@item.ID">@item.FirmName</option>
					}
				</select>
				<span asp-validation-for="@Model.Product.FirmID" class="text-danger"></span>
			</div>






			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Listeye Geri Don</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
